<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h1 class="mb-0">Title</h1>
                </div>
                <div class="col-2">
                    <h3 class="mb-0 badge badge-success">4.4</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- <figure class="movieImg">
                <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-120706,resizemode-75,msid-126133445/magazines/panache/stranger-things-season-5-volume-2-episodes-runtime-plot-cast-ott-release-date-and-time-in-india/stranger-things-season-5.jpg" alt="">
            </figure> -->
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warn">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
